@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply bg-[#39d624] my-5 text-white rounded-md flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */


/* START: Login styles */

.login-container{
  @apply bg-[#2B59FF]  w-full md:w-2/5 rounded-xl items-center mx-auto my-auto p-6;
}

.title-container{
  @apply  text-center 
}

.title-container h1{
  @apply text-white text-2xl
}

.form-container{
  @apply content-center items-center
}

.form-container input{
  @apply block  mt-5 rounded-md items-center mx-auto my-auto
}


/* END: Login styles */


/* START: Cat styles */
.cat {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.cat__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.cat__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.cat__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.cat__image {
  @apply relative xl:w-[50%] w-[40%] xl:h-[70%] h-[590px] z-0 m-10;
}

/* END: Cat styles */


/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

